<table
  style='max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #dddddd; padding: 20px;width: 100%;'
>
  <tr>
    <td style='text-align: center;'>
      <h1 style='color: #333333;'>{{subject}}</h1>
    </td>
  </tr>
  <tr>
    <td>
      <p style='color: #666666;'>Name: {{name}}</p>
      <p style='color: #666666;'>Email: {{email}}</p>
      <p style='color: #666666;'>Phone: {{phone}}</p>
      <p style='color: #666666;'>
        Message:
        <br />
        {{message}}
      </p>
    </td>
  </tr>
</table>